
body {
    font-family: "Germania One", system-ui;
    font-weight: 400;
    font-style: normal
}
h1 {
    background-color: #DDEEFF;
    color: #0000FF;
    font: italic;
    border: 2px solid red;
}
nav {
    background-color: yellowgreen;
}
#menu{
    border: 1px solid red;
}

header ul{
    background-color: #00FF00;
}

main ul{
    border: 2px solid #0000FF;
}
main .text{
    font-size: 17px;
    border: 7px dashed yellowgreen;
    border-top: 50px solid yellow;
}
.list ul ul{
    background-color: #ABCDEF;
}
